<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>repl.it</title>
        <script src="index.js"></script>
        <link rel="stylesheet" href="/assets/profile.css" rel="stylesheet">
    </head>
    <body>



    <div id="page-wrap">

 <%= image_tag("/system/user/images/000/000/00#{@user.id}/original/#{@user.image_file_name}") %>

    <style>

    img{
       display: inline-block;
width: 350;
height:444;
  background-repeat: no-repeat;;
  border: 2px;
  float:right;
   margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    }


    </style>
        <div id="contact-info" class="vcard">

            <!-- Microformats! -->

            <h1 class="fn"><%= @user.username %></h1>
            <button> <a href="/users/<%= @user.id %>/edit"> Edit Profile </button>
            <p>
                Location: <span class="locAtion">London, UK </span><br />
                Email    : <a class="email" href=""> <%= @user.email %></a>
                <br>
            </p>
            <aside>
                I am an outgoing and energetic (ask anybody) young professional, seeking a
                career that fits my professional skills, personality, and murderous tendencies.
                My squid-like head is a masterful problem solver and inspires fear in who gaze upon it.
                I can bring world domination to your organization.
            </aside>
        </div>

        <div id="objective">
        </div>
            <dd class="clear"></dd>

            <dt>Posts by <%= @user.username %> </dt>
            <dd>
            </dd>
    </div>
    </input>
</body>
</html>
