<h1>
EVENTS MAP
</h1>
<% @events.each do |event|%>
  <h2> <a href= "event/<%=event.id %>"> <%= event.name %> </a> </h2>
<% end %>
<link rel="stylesheet" href="/assets/login.css" rel="stylesheet">
<button> <a href="/newevent">Create a New Event</a> </button>
<button> <a href="/users/<%= session[:user_id] %>">Profile Page</a> </button>
<button> <a href="users/<%= session[:user_id] %>/edit">Edit Profile</a> </button>

<br>
<br>
<br>

<div  class="desaturate" id="map" style="height: 813px; width: 1200px;"></div>


<script>
      function initMap() {
        var uluru = {lat: 51.5080, lng: 0.1281};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>


<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV[Rails.application.secrets.google_maps_key] %>&callback=initMap">
    </script>
