<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Main</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="/assets/loginmain.css" rel="stylesheet">
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<style>
body {
        background-image: url("http://i.imgur.com/LDwSGAa.jpg") ;
      ;
}
</style>
<div id="wrapper">
  <div id="menu" class="container">
    <ul>
      <li class="current_page_item"><a href="/">Homepage</a></li>
      <li><a href="/main">Main</a></li>
      <li><a href="/newevent">Create a New Event</a></li>
      <li><a href="/users/<%= session[:user_id] %>">Profile</a></li>
    </ul>
  </div>
<!-- end #menu -->
  <div id="welcome" class="container">
    <div class="title">
      <h2>Fennex Travel</h2>
      <span class="byline">WHERE YOUR ADVENTURE STARTS... </span> </div>
    <div id="header" class="container">
    <div id="logo">
    <h3>List of Events</h3>
   <li><% @events.each do |event|%></li>
      <li><a href= "event/<%=event.id %>"> <%= event.name %> </a></li>
      <% end %>
      <div id="sidebar">
    </div>
    </div>
    <div  class="desaturate" id="map" style="height: 813px; width: 1200px;"></div
     </div>
  </div>
    </div>
  </div>
</body>
</html>



<script>
      function initMap() {
        var uluru = {lat: 51.5080, lng: 0.1281};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });

        <% @events.each do |event| %>
        console.log("event");
            new google.maps.Marker({
              position: {lat: <%= event.latitude %>, lng: <%= event.longitude %>},
              map: map
            });
        <% end %>
      }
    </script>


<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV[Rails.application.secrets.google_maps_key] %>&callback=initMap">
    </script>


<div id="sidebar">
      <div class="box1">
        <div class="title">
        </div>
        <ul class="style2">
        </ul>
      </div>
