<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>repl.it</title>
        <script src="index.js"></script>
         <link rel="stylesheet" href="/assets/show.css" rel="stylesheet">
    </head>
<body>
<div class="box">

      <h1> <%= @event.name %> </h1>
      </div>
      <em><%= @event.time %> </em>
      <%= @event.created_at %>
      <h2> Location: <%= @event.location %> </h2>




<div class="event one">
</div>

<br>

      <button> <a href="/event/<%= @event.id %>/edit">Edit Event </a> </button>
<br>
<h3> Infomration </h3>
<p2> <%= @event.info %></p2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/FUYpm5-tiRM" frameborder="0" allowfullscreen></iframe>



<div class="posts">
<h4> POSTS </h4>
<button> <a href="posts/create">Create a Post! </a> </button>


</div>
    </body>
</html>
