<!DOCTYPE html>
<html> 
    <head>  
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width">
        <title>repl.it</title>
        <script src="index.js"></script>
         <link rel="stylesheet" href="/assets/show.css" rel="stylesheet">
    </head>
    
         
      
User ID: <%= session[:user_id] %>

<%= @event %>


<body>
      <p1> EVENT PAGE </p1>
      <h1> "<%= @event.name %>" </h1>
      <em><%= @event.time %> </em>
      <h2> Location: <%= @event.location %> </h2>
      
     


<div class="event one">
</div>

<br>

      <button> <a href="/event/<%= @event.id %>/edit">Edit Event </a> </button>
<br>
<h3> Infomration </h3>
<p2> <%= @event.info %></p2>



<div class="posts"> 
<h4> POSTS </h4>
<button> Create a Post </button>


</div>
    </body>
</html>
