<!DOCTYPE html>
<html>
<title>CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/eventshow.css" rel="stylesheet">

<style>
body,h1,h2,h3,h4,h5 {font-family: 'proxima-nova', sans-serif;
}
</style>

<div class="event one">
</div>

<body class="light-grey">

<!-- content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="content" style="max-width:1400px">
<br>
<br>
<div class="one">
</div>
<br><br>
<br><br>
<br><br>
<br>
<!-- Header -->
<header class="HEADTING">

  <h1><b><%= @event.name %></b></h1>
    <p><b><%= @event.location %></b></p>

  <p><b>  <%= @event.time %></b></p>
  <button> <a href="/event/<%= @event.id %>/edit"> Edit Event </button>
</header>
<br><br><br>
<br><br>
<br>
<br>
<br>

<!-- Grid -->
<div class="row">

<!-- Blog entries -->
<div class="col l8 s12">
  <!-- Blog entry -->
  <div class="card-4 margin white">
    <!-- <img src="/public/system/events/images/000/000/00<%= @event.id %>/original/<%= @event.image_file_name %>" alt="<%= @event.image_file_name %>" style="width:700" height="700"> -->
    <%= image_tag("/system/events/images/000/000/00#{@event.id}/original/#{@event.image_file_name}") %>
    <div class="container">
      <h3><b><%= @event.name %></b></h3>
      <h5>Event description, <span class="opacity"><%= @event.time %></span></h5>
    </div>

    <div class="container">
      <p><%= @event.info %></p>  <a href="/posts/create/<%= @event.id %>"> <button class="button padding-large white border"> Create Post</button> </a>
      <br>
      <br>
      <dt> </dt>
      <%= @event.posts.count %>
   <h1> <% @event.posts.each do |post|%> </h1>
      <h2> <%= post.anchor_text %></h2>

      <h3> <%= post.comment %> </h3>

      <% end %>


      <div class="row">
        <div class="col m8 s12">
        </div>
        <div class="col m4 hide-small">
          <p><span class="padding-large right"></span></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr>

  <!-- Blog entry -->
  <div class="card-4 margin white">
  <div class="container padding">
    <div class="container">

      <h3><b>BOOK A TRIP</b></h3>

      </div>
    </div>

    <div class="container">
      <p>

      </p>

 <p> <a href="/purchase/index"><button class="button padding-large white border">Purchase Hotel </button> </a> </p>
<br> <br> 


      <div class="row">         <p> <a href="https://www.expedia.com/Hotel-Search?_xpid=11905%7C1#destination=<%= @event.location %>&adults=2&children=0"><button class="button padding-large white border">Book a Trip!</button> </a></p>

        <div class="col m8 s12">
        </div>
        <div class="col m4 hide-small">
          <p><span class="padding-large right"></span></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="col l4">
  <!-- About Card -->
  <div class="card-2 margin margin-top">
    <div class="container white">
    <div class="container padding">
      <h4><b>Event Location</b></h4>
      <% if @error_message %>
          <h5 style="color:red;"><%= @error_message %></h5>
      <% end %>
      <div id="map" style="height:250px; width:380px"></div>
       <div class="row">
       </div>
       </div>
    </div>
  </div><hr>

  <!-- Posts -->

  <!-- Labels / tags -->
  <div class="card-2 margin">
    <div class="container padding">
      <h4><%= @event.name %> video</h4>
      <iframe width="380" height="215" src="https://www.youtube.com/embed/rTdgW6BopTs" frameborder="0" allowfullscreen></iframe>
      <div class="row">




    </div>
    <div class="container white">

    </div>
  </div>

<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END content -->
</div>

<script>
      function initMap() {

        var latitude = <%= @event.latitude %>
        var longitude = <%= @event.longitude %>

        var eventLocation = {lat: latitude, lng: longitude};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: eventLocation
        });

        var locations = []


        locations.push(eventLocation)

        <% if @hotels != nil %>
            <% @hotels.each do |hotel| %>

                locations.push({
                    latitude: <%= hotel['latitude'] %>,
                    longitude: <%= hotel['longitude'] %>,
                    hotelname: '<%= hotel['name'] %>',
                    streetAddress: '<%= hotel['address1'] %>',
                    lowRate: <%= hotel['lowRate'] %>,
                    hotelId: <%= hotel['hotelId'] %>
                })

            <% end %>
        <% end %>


        // CODE FOR ADDING MARKERS TO MAP

        // var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
        var marker
        var infowindow
        var contentString
        // this function allows us to bind multiple different info
        // windows to different markers (rather than one for all)
        function bindInfoWindow(marker, map, infowindow, html){
            marker.addListener('click', function(){
                infowindow.setContent(html)
                infowindow.open(map, this)
            });
        }

        for(var i = 0; i < locations.length; i++){

            (function(){

                contentString = `
                <div>
                    <h3> ${locations[i]['hotelname']} </h3>
                    <p> ${locations[i]['streetAddress']} </p>
                    <p> ${locations[i]['lowRate']} </p>
                    <a href='/hotels/${locations[i]['hotelId']}'> Book a room here! </a>
                </div>
                `

                infowindow = new google.maps.InfoWindow({
                    // content: contentString
                })

                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i]['latitude'], locations[i]['longitude']),
                    map: map,
                })

                bindInfoWindow(marker, map, infowindow, contentString);

            })()

        }

      }

    </script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Rails.application.secrets.google_maps_key'] %>&callback=initMap">
    </script>

</a>
</div>
</div>
</div>
</div>




</body>
</html>
